name: Docker CI/CD PHP API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
        -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build & Push Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/company-api:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/company-api:latest

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/company-api:latest
          docker stop company-api || true
          docker rm company-api || true
          docker run -d -p 8081:80 --name company-api ${{ secrets.DOCKER_USERNAME }}/company-api:latest